/* Déclaration */
@main_color : #fdd700; //La couleur du logo

@body_color: #333; //Couleur de fond
@body_font_color: #fff; //Couleur de la police
@main_dark_font: #000; //Couleur de la police sombre

/* La Side Bar */
@side_bar_color: #292b2c; //Couleur de fond de la nav gauche
@side_bar_link_color: rgba(255,255,255,.5); //Couleur des liens inactifs de la nav gauche
@side_bar_link_hover_color: #fff; //Couleur des liens actifs et hover de la nav gauche
@side_bar_font_color: #dedede; //Couleur de police de la nav gauche