/* Selected theme => Dark Theme*/
@main_color : #fdd700;
@body_color: #333;
@body_font_color: #fff;
@main_dark_font: #000;
@side_bar_color: #292b2c;
@side_bar_link_color: rgba(255,255,255,.5);
@side_bar_link_hover_color: #fff;
@side_bar_font_color: #dedede;
