/*Importation configuration*/
@import "config.less";

body {
    height: 100vh;
}


#img_logo {
    max-height: 100px;
    max-width: 100px;

    &:hover {
        cursor: pointer;
    }
}

.form {
    background-color: @sideBarColor;
    border: 1px solid @sideBarColor;
    border-radius: 2px;
}

.panel-title {
     font-size: 1.4em;
}

input[type="submit"],input[type="button"],input[type="text"],input[type="email"],input[type="password"] {
    font-size: 1.2em;
}

input[type="submit"], input[type="button"] {
    border-radius: 4px;
    color : @linkHoverColor;
    border-color: @mainColor;
    background-color : @mainColor;

    &:hover, &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
        background-color : @mainColor;
    }
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: @linkColor;

    &:hover, &:focus {
        color: @linkHoverColor;
        text-decoration: none;
    }
}

#install {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .panel-body {
        #welcome {
            display: block;
            height: 100%;
        }
        #set-db {
            display: none;
            height: 0;
        }
        h1,h2 {
            text-align: center!important;
        }
    }
}

#install.toggled {
            #welcome {
            display: none;
            height: 0;
        }
        #set-db {
            display: block;
            height: 100%;
        }
}