/* Import configuration */
@import "config.less";

#tags {
    li {
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    a {
        color: @linkColor;

        &:hover, &:active, &:focus {
            color: @linkHoverColor;
            text-decoration: none;
        }
    }
}
